@import "./variable.css";
@import "./default.css";
@import "./font.css";
@import "./navbar.css";
@import "./footer.css";

/* Landing */

.landing {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./../images/jpgs/bg-landing.jpg), no-repeat center center;
  background-size: cover;
  height: calc(100vh - 108.8px);
  text-align: center;
  background-attachment: fixed;
  color: var(--white-color);
}
.landing__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20rem;
}
.landing__title {
  font-size: 3.4rem;
  font-weight: bold;
}
.landing__subtitle {
  font-size: 1.8rem;
}

/* Service */

.service {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./../images/jpgs/bg-1.jpg), no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  padding: 10rem 0;
}
.service__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__right {
  width: 50%;
  padding: 0 5rem 0 17rem;
}
.service__title {
  font-size: 2.5rem;
  font-weight: bold;
}
.service__text {
  margin-top: 2rem;
  text-align: justify;
  color: #a7b1b4;
  font-size: 1.6rem;
}
.service__btn {
  margin: 5rem 0;
  width: 30%;
  border: 2px solid var(--secondary-color);
  margin-right: auto;
  margin-left: 4rem;
  text-align: center;
  padding: 1rem 0;
  transition: all 200ms linear;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
}
.service__btn:hover {
  background-color: var(--secondary-color);
}
.service__btn-link {
  color: var(--secondary-color);
  font-weight: 600;
}
.service__btn:hover .service__btn-link {
  color: var(--dark-color);
}
.service__left {
  width: 50%;
}
.service__accordion-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: #7b868a; */
  padding: 1rem 0.5rem;
  margin: 1rem 0;
}

.service__accordion-item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -1rem;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(139, 139, 139, 1) 45%,
    rgba(139, 139, 139, 1) 55%,
    rgba(0, 0, 0, 0) 100%
  );
}
.service__accordion-text {
  position: relative;
}
.service__accordion-text::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  right: -1rem;
  list-style: circle;
  font-size: 3rem;
  width: 100%;
  display: list-item;
  height: 1rem;
}
.service__accordion-text:hover::before {
  list-style: disc;
}

/* About Us */

.about-us {
  padding: 10rem 0;
  background: url(./../images/jpgs/bg-3.jpg), no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.about-us__right {
  padding-left: 8rem;
}
.about-us__title {
  font-weight: bold;
  color: var(--dark-color);
  font-size: 3rem;
  margin: 2rem 0;
}
.about-us__text {
  font-size: 1.4rem;
  text-align: justify;
  color: #7b868a;
}
.about-us__swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-us__swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.about-us__swiper-slide--image {
  display: block;
  border-radius: 1rem;
  width: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}