/* default css */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}
body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.6;
  direction: rtl;
  background-color: var(--white-color);
}
a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
a:hover {
  color: #1e83f0;
}
i {
  user-select: none;
}